/* ---------------------------------
* Sets download URLs for humann2 and metaphlan databases
* --------------------------------------------
*/


params {
      databases {
          'humann2' {
                chocophlan = "https://nfpipelines.blob.core.windows.net/nfpublicdata/full_chocophlan_plus_viral.v0.1.1.tar.gz"
                uniref50_diamond = "https://nfpipelines.blob.core.windows.net/nfpublicdata/uniref50_annotated_1_1.tar.gz"
                uniref90_diamond = "https://nfpipelines.blob.core.windows.net/nfpublicdata/uniref90_annotated_1_1.tar.gz"
                uniref50_ec_filtered_diamond = "https://nfpipelines.blob.core.windows.net/nfpublicdata/uniref50_ec_filtered_1_1.tar.gz"
                uniref90_ec_filtered_diamond = "https://nfpipelines.blob.core.windows.net/nfpublicdata/uniref90_ec_filtered_1_1.tar.gz"
                utility_mapping = "https://nfpipelines.blob.core.windows.net/nfpublicdata/full_mapping_1_1.tar.gz"
          }
          'metaphlan2' {
                bowtie = "https://nfpipelines.blob.core.windows.net/nfpublicdata/mpa_v20_m200.tar"
                md5 = "https://nfpipelines.blob.core.windows.net/nfpublicdata/mpa_v20_m200.md5"
          }
      }
}
